.flex {
  display: flex;
}

.justify-content-sb {
  justify-content: space-between;
}

.align-items-c {
  align-items: center;
}

.inline-flex {
  display: inline-flex;
}

.flex-column {
  flex-direction: column;
}

.gap-25 {
  gap: 25px;
}

.gap-30 {
  gap: 30px;
}

.flex-grow-1 {
  flex-grow: 1;
}
