@font-face {
  src: url(/src/assets/fonts/Poppins/Poppins-Regular.woff2) format('woff2');
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
}

@font-face {
  src: url(/src/assets/fonts/Poppins/Poppins-Bold.woff2) format('woff2');
  font-family: Poppins;
  font-style: normal;
  font-weight: 700;
}
