@font-face {
  src: url(/src/assets/fonts/Nunito/Nunito-Regular.ttf) format('woff2');
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
}

@font-face {
  src: url(/src/assets/fonts/Nunito/Nunito-SemiBold.ttf) format('woff2');
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
}

@font-face {
  src: url(/src/assets/fonts/Nunito/Nunito-Bold.ttf) format('woff2');
  font-family: Nunito;
  font-style: normal;
  font-weight: 700;
}

@font-face {
  src: url(/src/assets/fonts/Nunito/Nunito-ExtraBold.ttf) format('woff2');
  font-family: Nunito;
  font-style: normal;
  font-weight: 800;
}
