input {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color:#030229b3;
  padding: 16px;
  border: none;
  width: 100%;
  background: #F7F7F8;
  outline-color: #ededed;
  border-radius: 10px;
  box-sizing: border-box;
}

label {
  display: block;
  margin-bottom: 8px;
}
