.dashboard-menu {
  position: relative;

  &__block {
    display: flex;
    flex-direction: column;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &__title {
    padding: 10px 14px 10px;
  }

  &__item-list {
    display: flex;
    flex-direction: column;
  }

  &__item {
    display: block;
    padding: 16px 14px;
  }
}